.admin-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .admin-nav {
    padding: 8px;
  }

  .admin-tools {
    display: flex;
    width: 90%;
    max-width: 60rem;
    height: 90%;
    background-color: rgb(235, 235, 235);

    .tab {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 8px;
      width: 100%;

      .contentList {
        background-color: white;
        padding: 4px;
        overflow-y: auto;
        width: 40%;
      }
    }

    .edit-side {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 55%;
      height: 100%;
      padding: 4px;

      a {
        text-align: right;
        margin: 0;
      }
    }
  }
}
