.listItem {
  display: flex;
  justify-content: space-between;
  height: fit-content;
  background-color: rgb(243, 243, 243);
  margin: 8px;
  padding: 10px;
  color: black;
  text-decoration: none;

  &.navActive {
    background-color: #4b86b4;
    color: white;
  }

  .info {
    width: 80%;
  }

  .interaction {
    display: flex;
    width: fit-content;

    button {
      padding: 4px 8px;
      height: fit-content;
      border: none;
      color: white;
      font-size: 0.8rem;
      font-weight: 600;
      background-color: #b44b52;

      &:hover {
        cursor: pointer;
        background-color: #f00e1d;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}
